*{
    font-family: AvenirNext-Regular;
    color: #272727 ;
}



body{
    background-color: #fff;
}

a:visited{
    color: black;
}

.Project{
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

p, a{
    max-width: 60ch;
}

.ProjectWrapper{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
} 

.ProjectDetailsWrapper{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.HeroCard{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    margin-bottom: 5vh;
    padding: 0px;
}

.HeroImg{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-size: contain, 50px 50px !important;
    object-fit: contain ;
}


.ImageCover {
    width: 100%;
    height: 100vh;    
    background-color:black;
    opacity: 0.3;
    position: absolute;
    padding: 0px;
    top: 0;
    }



h1{
    max-width: 90vw;
    line-height: 0.85;
    font-size: 5rem;
    font-family: AvenirNext-DemiBold;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    transition: 0.3s;
    margin-bottom: 0px;
}

h1, h2{
    align-self: center;
    color: white;
    z-index: 20;
    font-family: AvenirNext-Regular;
    text-transform: uppercase
}

.HeroCardTitleWrapper{
    position: absolute;
    top: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2{
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}


.react-multiple-carousel__arrow--left, .react-multiple-carousel__arrow--right{
    top: 50vh;
    margin-top: 0 !important;
    position: absolute !important;
    height: 0;
    padding-right: 15px;
    padding-left: 15px;
    color: white;
    background-color: rgba(246,246,246,0.75) !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.20);
}
.react-multiple-carousel__arrow--left{
    left: 1vw !important;
    overflow: hidden;
} 

@media screen and (hover: hover) {
    .react-multiple-carousel__arrow--left:hover::after{
        content: "Previous project";
        left: 40px;
    }

    .react-multiple-carousel__arrow--right:hover::after{
        content: "Next project";
        right: 40px;
    }

    .react-multiple-carousel__arrow--left:hover{
        padding-right: 130px;
    }
    
    .react-multiple-carousel__arrow--right:hover{
        padding-left: 110px;
    }
 }

.react-multiple-carousel__arrow::before{
    color: black !important;
    transition: all 0.3s ease-in-out;
}

.react-multiple-carousel__arrow--right{
    right: 1vw !important;
    /* margin-right: 12vw; */
    overflow: hidden;
}
.react-multiple-carousel__arrow {
    transition: all 0.3s !important;
}

.react-multiple-carousel__arrow::after {
    position: absolute;
    top: 14px;
    white-space: nowrap;
    color: rgba(0,0,0,1) ;
    /* width: 50%; */
}



.splitter{
    margin-bottom: 10vh;
    opacity: 0.5;
    height: 20px;
}
    
.year{
    top: 55vh;
}

.Description{
    text-align: left;
    font-size: 1rem;
    margin-top: 10px ;
    max-width: 60ch;
}

.ResultDescription{
    margin-bottom: 10vh;
}


.ProjectTitle{
    margin-top: 5vh;
    margin-bottom: 0px;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: AvenirNext-DemiBold;
}

.projectImages{
    width: 60vw;
    min-height: 50vh;
    max-height: 90vh;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}

.projectImages, .HeroImg{
    background-repeat: no-repeat !important;
    background-position: center !important; 
}

.projectImagesDescription:last-child{
    margin-bottom: 40px;
} 


li{
    margin: 0px !important;
    padding: 0px !important;
}

.projectImagesDescription{
width: 100%;
margin-bottom: 60px;
text-align: left;
margin-top: 20px;
font-size: 0.8rem;
font-style: italic;
}

@media screen and (max-height: 1100px) {
    h1{
     font-size: 4rem;
    }
 }
 
 @media screen and (max-width: 800px) {
     .ProjectDetailsWrapper{
         width: 75vw;
     }
 
     .react-multiple-carousel__arrow--left{
         padding-right: 19px;
     } 
     .react-multiple-carousel__arrow--right{
         padding-left: 19px;
     }
 }
 


@media (hover: none) and (max-height: 825px)  {
    .HeroCardTitleWrapper{
        width: 100vw;
    }


    h1{
        /* font-size: 2rem; */
        top: 42vh;
        font-size: 3rem;

    }
    h2{
        top: 48vh;
        font-size: 0.8rem;
    }

    .projectImagesDescription:last-child{
        margin-bottom: 60px;
    
    } 

    .HeroCard{
        margin-bottom: 0vh;
    }

    .ProjectDetailsWrapper{
        max-width: 90vw;
    }


    .react-multiple-carousel__arrow--left{
        left: 1vw !important;
        margin-left: 0vw;
        top: 48vh;

        

    }
    
    .react-multiple-carousel__arrow--right{
        right:1vw !important;
        margin-right: 0vw;
        top: 48vh;

    }


    .ProjectTitle{
        margin-top: 3vh;
        width: 90%;
        font-size: 1.5rem;
     }
    

    .Description{
        width: 90%;
        margin-bottom: 5vh;
        font-size: 0.9rem;
        margin-top: 10px ;
    }

    .projectImages{
        width: 90vw !important;
        max-height: 30vh;
        height: auto;
        background-size: contain, 50px 50px !important;
        object-fit: contain ;
    }

    

    .HeroImg{
        background-size: cover, 50px 50px !important;
        object-fit: cover ;
    }

    .react-multiple-carousel__arrow--left, .react-multiple-carousel__arrow--right{
        
        box-shadow: none;
    }

    .splitter{
        margin-bottom: 2vh;
    }
    
}

